@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --space: 15px;
  --container: 1050px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

footer {
  width: 100%;
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: var(--space);
}

.footer-container {
  max-width: 1050px;
}

.home-poster {
  background-image: url("/home-poster.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home-poster-content {
  background: rgba(0, 0, 0, 0.57);
}

.poster-title,
.poster-description,
.poster-action {
  color: var(--background);
}

.poster-action {
  padding: 10px 20px;
  border: 1px solid var(--background);
  border-radius: 50px;
}

.arrows {
  width: 60px;
  height: 72px;
  transform: scale(0.5);
}

.arrows path {
  stroke: var(--background);
  fill: transparent;
  stroke-width: 4px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
